/* Created by Baraa AB */

body { margin:20px; background:hsl(70, 31%, 85%); text-align:center; }

.balloon {
  display:inline-block;
   width:120px;
  height:145px;
  background:hsl(215,50%,65%);
  border-radius:80%;
  position:relative;
  box-shadow:inset -10px -10px 0 rgba(0,0,0,0.07);
  margin:20px 30px;
  transition:transform 0.5s ease;
  z-index:10;
  animation:balloons 4s ease-in-out infinite;
  transform-origin:bottom center;
  font-size: 100px;
}

@keyframes balloons {
  0%,100%{ transform:translateY(0) rotate(-4deg); }
  50%{ transform:translateY(-25px) rotate(4deg); }
}


.balloon:before {
  content:"▲";
  font-size:20px;
  color:hsl(215,30%,50%);
  display:block;
  text-align:center;
  width:100%;
  position:absolute;
  bottom:-12px;
  z-index:-100;
}

.balloon:after {
 display:inline-block; top:153px;
  position:absolute;
  height:250px;
  width:1px;
  margin:0 auto;
  content:"";
  background:rgba(0,0,0,0.2); 
}

.balloon:nth-child(2){ background:hsl(245,40%,65%); animation-duration:3.5s; }
.balloon:nth-child(2):before { color:hsl(245,40%,65%);  }

.balloon:nth-child(3){ background:hsl(139,50%,60%); animation-duration:3s; }
.balloon:nth-child(3):before { color:hsl(139,30%,50%);  }

.balloon:nth-child(4){ background:hsl(59,50%,58%); animation-duration:4.5s; }
	.balloon:nth-child(4):before { color:hsl(59,30%,52%);  }

.balloon:nth-child(5){ background:hsl(23,55%,57%); animation-duration:5s; }
.balloon:nth-child(5):before { color:hsl(23,44%,46%);  }

.balloon:nth-child(6){ background:hsl(70,60%,63%); animation-duration:5.5s; }
.balloon:nth-child(6):before { color:hsl(70,38%,50%);  }

.balloon:nth-child(6){ background:hsl(180,85%,57%); animation-duration:6s; }
.balloon:nth-child(6):before { color:hsl(180,94%,46%);  }

.balloon:nth-child(7){ background:hsl(3,90%,37%); animation-duration:6.5s; }
.balloon:nth-child(7):before { color:hsl(3,44%,46%);  }

.balloon:nth-child(8){ background:hsl(38,55%,97%); animation-duration:7s; }
.balloon:nth-child(8):before { color:hsl(38,44%,183%);  }

.balloon:nth-child(9){ background:hsl(200,18%,57%); animation-duration:7.5s; }
.balloon:nth-child(9):before { color:hsl(200,29%,46%);  }

.balloon:nth-child(10){ background:hsl(170,13%,57%); animation-duration:8s; }
.balloon:nth-child(10):before { color:hsl(170,13%,46%);  }


.balloon:nth-child(11){ background:hsl(203,48%,57%); animation-duration:8.5s; }
.balloon:nth-child(11):before { color:hsl(203,78%,46%);  }